<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Pop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signpop.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kumar+One&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lohit+Devanagari&display=swap">
</head>
<body>
    <div class="container">
        <h1 class="title">Sign Pop</h1>
        <hr>    
        
        <div class="button-container">
            <a href="{{ url_for('index') }}" class="button start-button">PRESS START</a>
            
            <a href="#" class="button tutorial-button">TUTORIAL</a>
        </div>
    </div>
</body>
</html>